#!/bin/bash
set -eu

# mise.toml: sha256-{{ include "./dot_config/mise/config.toml" | sha256sum }}
mise="$HOME/.local/bin/mise"

mise trust -y --quiet "$HOME/.config/mise/config.toml"
mise prune -y
mise install -y
